html, body{
  /* height: 100%;
  width: 100%; */
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
#wrap{
  margin: 50px auto auto;
  padding: 20px 20px 0;
  width: 600px;
  height: 600px;
  overflow-y: auto;
  background-color: #F5F6F7;
}
#content{
  position: relative;
}
#page-content{
  position: relative;
}
#page-content li{
  /* position: relative; */
  margin-bottom: 20px;  
  width: 100%;
  height: 300px;
  background-color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #page-content li:first-child{
  background-color: #b6e0c5;
} */
#dragable-box{
  position: absolute;
  left: 20px;
  top: 20px;
  user-select: none;
  width: 80px;
  height: 80px;
  cursor: move;
  background-color: red;
}